#chat_div { position: relative;
            background-color: cyan;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14pt;    
            font-style: italic;
            font-weight: 500;
        }

.message {position: flex;
            background-color: white;
            right: 0;
            height: 20pt;
            border-radius: 25%;
            justify-content: center;
            margin-left: 1%;
            margin-right: 1%;
}

