<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пишите</title>
    <link type="text/css" href="{{ url_for('static', filename='css/main_page_style.css')}}" rel="stylesheet" />
</head>
<body>
    <div id="chat_div" style="width: 100%; padding-bottom: 10px;" ></div>
        <input type="text" name="message" placeholder="", id = "message_text">
        <br><br>
        <input type="submit" value="отправить" name="ok", id = "send_button"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/functions.js')}}"></script>
        <script>
            current_user = "{{context['username']}}";
            document.getElementById("send_button").onclick = () => sendMessage("{{context['username']}}", "{{context['session']}}");
        </script>
</body>
</html>